extends base

block vars
    - var title = 'Dashboard'
    
block body
    h1 Dashboard
    p Welcome to the dashboard; you are now logged in.
    <a href="/logout">logout
    
    
    h2 User Info
    p First Name: #{user.firstName}
    p Lastt Name: #{user.lastName}
    p Email: #{user.email}
    p Data: #{user.data}