extends base

block vars

    - var title = 'home
    
block body
    h1 Auth
    p welcome to auth home! <a href="/login">login</a> or <a href="/register">register</a> to continue.
        
    p Check out the <a href="/dashboard">dashboard
    